################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Edu_Base/Properties/launchSettings.json
/Edu_Base/appsettings.json
